.main_container{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: snow;
}
.header{
    position: absolute;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: italic;
    font-family: 'Brush Script MT', cursive;
    font-size: 50px;
    background-color: antiquewhite;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid navy

}

.calendar{
    position: absolute;;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 30%;
    height: 70%;
    background-color: lightskyblue;
    border: 2px solid navy;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
}
#january_calendar{
    left: 1%;
}
#february_calendar{
    left: 33%;
    background-color: lightpink;
}

#march_calendar{
    left :65%;
    background-color: lightgreen;
}
#january_month_year{
    position: absolute;
    background: linear-gradient(lightskyblue, white);
    width: 100%;
    height: 15%;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: italic;
    font-family: 'Brush Script MT', cursive;
}
#february_month_year{
    position: absolute;
    background: linear-gradient(lightpink, white);
    width: 100%;
    height: 15%;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: italic;
    font-family: 'Brush Script MT', cursive;
}
#march_month_year{
    position: absolute;
    background: linear-gradient(lightgreen, white);
    width: 100%;
    height: 15%;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: italic;
    font-family: 'Brush Script MT', cursive;
}

.calendar_days{
    position: absolute;
    background-color: white;
    width: 100%;
    height: 5%;
    top: 15%;
}

.calendar_day{
    position: absolute;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    font-size: 12px;
    width: 12%;
    height: 100%;
    border: 1px solid navy;
}

.weekly_summary_text{
    position: absolute;
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Brush Script MT', cursive;
    font-style: italic;
    color: purple;
    font: 20px;
    width: 16%;
    height: 100%;
    border: 1px solid navy;
    left: 84%;
    text-decoration: underline;    
}

.weekly_summary_text:hover{
    cursor: pointer;
    opacity: 0.7;
    box-shadow: 2px 2px 2px 2px navy;
}


#sunday_text{
    position: absolute;
    text-align: center;
    left: 0%;

}

#monday_text{
    left: 12%;
}

#tuesday_text{
    left: 24%;
}

#wednesday_text{
    left: 36%;
}

#thursday_text{
    left: 48%;
}

#friday_text{
    left: 60%;
}

#saturday_text{

    left: 72%;
}

.calendar_date{
    position: absolute;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    font-weight: bold;
    font: 20px;
    width: 12%;
    height: 100%;
    border: 1px solid navy;
}

.calendar_date:hover{
    cursor: pointer;
    opacity: 0.5;
    box-shadow: 2px 2px 2px 2px navy;
    background-color: lightyellow;
}
.calendar_gray{
    color: darkgray;
    position: absolute;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    font-weight: bold;
    font: 20px;
    width: 12%;
    height: 100%;
    border: 1px solid navy;

}
.calendar_gray:hover{
    cursor: not-allowed;

}

.calendar_date_first{
    left: 0%;
}
.calendar_date_second{
    left: 12%;
}
.calendar_date_third{
    left: 24%;
}
.calendar_date_fourth{
    left: 36%;
}
.calendar_date_fifth{
    left: 48%;
}
.calendar_date_sixth{
    left: 60%;
}
.calendar_date_seventh{
    left: 72%;
}
.first_row{
    position: absolute;
    background-color: white;
    width: 100%;
    height: 12%;
    top: 20%;
}
.second_row{
    position: absolute;
    background-color: white;
    width: 100%;
    height: 12%;
    top: 32%;
}
.third_row{
    position: absolute;
    background-color: white;
    width: 100%;
    height: 12%;
    top: 44%;
}
.fourth_row{
    position: absolute;
    background-color: white;
    width: 100%;
    height: 12%;
    top: 56%;
}
.fifth_row{
    position: absolute;
    background-color: white;
    width: 100%;
    height: 12%;
    top: 68%;
}
.sixth_row{
    position: absolute;
    background-color: white;
    width: 100%;
    height: 12%;
    top: 80%;
}

.hover_overlay{
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
    background-color: antiquewhite;
    width: 12%;
    height: 20%;
    border: 3px solid black;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    font-weight: bold;
    font: 20px;
    transition: all .3s ease;
    z-index: 3;
    box-shadow: 1px 1px 1px 1px black;

}
#hover_date{
    list-style: none;
    position: absolute;
    top: 10%;
    left: 5%;

}
#hover_hours{
    list-style: none;
    position: absolute;
    top: 40%;
    left: 5%;
}
#hover_income{
    list-style: none;
    position: absolute;
    top: 70%;
    left: 5%;
}
#hover_close{
    float: right;
    margin-top:-6%;
    margin-right:-6%;
    cursor:pointer;
    color: red;
    border: 3px solid black;
    border-radius: 50%;
    background:white;
    font-size: 31px;
    font-weight: bold;
    line-height: 0px;
    padding: 11px 3px; 
}
#hover_close:hover{
    box-shadow: 1px 1px 1px 1px black;
}
#hover_close:before{
    content: "X";
}
#background_disabler{
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: lightgray;
    opacity: 0.7

}
.weekly_overlay{
    position: absolute;
    left: 15%;
    top: 40%;
    display: none;
    background-color: antiquewhite;
    width: 70%;
    height: 20%;
    border: 3px solid black;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    font-weight: bold;
    font: 20px;
    transition: all .3s ease;
    z-index: 3;
    box-shadow: 2px 2px 2px 2px black;
}
#weekly_close{
    float: right;
    margin-top:-1.5%;
    margin-right:-1.5%;
    cursor:pointer;
    color: red;
    border: 3px solid black;
    border-radius: 50%;
    background:white;
    font-size: 31px;
    font-weight: bold;
    line-height: 0px;
    padding: 11px 3px; 
}
#weekly_close:hover{
    box-shadow: 1px 1px 1px 1px black;
}
#weekly_close:before{
    content: "X";
}
.weekly_grid_line_vertical{
    position: absolute;
    height: 100%;
    border: 2px solid black;
}
#weekly_grid_line_vertical_1{
    left: 8%;
}
#weekly_grid_line_vertical_2{
    left: 18%;
}
#weekly_grid_line_vertical_3{
    left: 29%;
}
#weekly_grid_line_vertical_4{
    left: 40%;
}
#weekly_grid_line_vertical_5{
    left: 51%;
}
#weekly_grid_line_vertical_6{
    left: 62%;
}
#weekly_grid_line_vertical_7{
    left: 73%;
}
#weekly_grid_line_vertical_8{
    left: 84%;
}
#weekly_grid_line_horizontal_1{
    position: absolute;
    width: 100%;
    border: 2px solid black;
    top: 25%;
}
#weekly_grid_line_horizontal_2{
    position: absolute;
    width: 100%;
    border: 2px solid black;
    top: 60%;
}
.pay_item{
    position: absolute;
    list-style: none;

}
#weekly_sunday_text{
    left: 10%;
    top: 7%;
    text-decoration: underline;
}
#weekly_monday_text{
    left: 21%;
    top: 7%;
    text-decoration: underline;
}
#weekly_tuesday_text{
    left: 32%;
    top: 7%;
    text-decoration: underline;
}
#weekly_wednesday_text{
    left: 43%;
    top: 7%;
    text-decoration: underline;
}
#weekly_thursday_text{
    left: 54%;
    top: 7%;
    text-decoration: underline;
}
#weekly_friday_text{
    left: 65%;
    top: 7%;
    text-decoration: underline;
}
#weekly_saturday_text{
    left: 76%;
    top: 7%;
    text-decoration: underline;
}
#weekly_total_text{
    left: 87%;
    top: 7%;
    text-decoration: underline;
}
#weekly_hours_text{
    left: 2%;
    top: 38%;
}
#weekly_pay_text{
    left: 2%;
    top: 73%;
}
#weekly_sunday_hours{
    left: 10%;
    top: 38%;

}
#weekly_monday_hours{
    left: 21%;
    top: 38%;

}
#weekly_tuesday_hours{
    left: 32%;
    top: 38%;

}
#weekly_wednesday_hours{
    left: 43%;
    top: 38%;

}
#weekly_thursday_hours{
    left: 54%;
    top: 38%;

}
#weekly_friday_hours{
    left: 65%;
    top: 38%;

}
#weekly_saturday_hours{
    left: 76%;
    top: 38%;

}
#weekly_total_hours{
    left: 87%;
    top: 38%;

}
#weekly_sunday_pay{
    left: 10%;
    top: 73%;

}
#weekly_monday_pay{
    left: 21%;
    top: 73%;

}
#weekly_tuesday_pay{
    left: 32%;
    top: 73%;

}
#weekly_wednesday_pay{
    left: 43%;
    top: 73%;

}
#weekly_thursday_pay{
    left: 54%;
    top: 73%;

}
#weekly_friday_pay{
    left: 65%;
    top: 73%;

}
#weekly_saturday_pay{
    left: 76%;
    top: 73%;

}
#weekly_total_pay{
    left: 87%;
    top: 73%;

}
